<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<test name="Test2">
		<classes>
			<class name="test.TC004_CheckIn" />
			<class name="test.TC005_FlightStatus" />
			<class name="test.TC006_ManageBooking" />
		</classes>
	</test> 
	<test name="Test1">
		<classes>
			<class name="test.TC002_LoginPage" />
			<class name="test.TC003_OneWayTrip" />
		</classes>
	</test>
</suite> <!-- Suite -->
